<div class="ui container main">
  <% @blogs.each do |blog|%>
  <%= image_tag(blog.body) %>
  <h2><%= link_to blog.title, blog_path(blog)%></h2>
  <p><%= blog.description%></p>
  <p>Comment(<%=blog.comments.count%>)</p>
  <%end%>
</div>
