<div class="ui huge header">Edit
  <%= @blogs.title%></div>
<%= content_for :action_bar do%>
  <div class="ui main container">
  <%= render "admin/blogs/action/#{@blogs.status}"%>
  </div>
<% end %>
<%= render "form"%>
